<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-gray">
          <div class="inner">
            <h3>0</h3>

            <p>Riders</p>
          </div>
          <div class="icon">
            <i class="fas fa-users"></i>
          </div>
          <a href="#" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-gray">
          <div class="inner">
            <h3>0</h3>
            <p>Driver</p>
          </div>
          <div class="icon">
            <i class="fas fa-taxi"></i>
          </div>
          <a href="#" class="small-box-footer">Manage <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-gray">
          <div class="inner">
            <h3>0</h3>

            <p>Vehicles</p>
          </div>
          <div class="icon">
            <i class="fas fa-car"></i>
          </div>
          <a href="#" class="small-box-footer">Manage <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>

    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <section class="col-lg-12 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="nav-tabs-custom">
          <!-- Tabs within a box -->
          <ul class="nav nav-tabs pull-right">
            <li class="pull-left header"><i class="fa fa-inbox"></i> Ride Stats</li>
          </ul>
          <div class="tab-content">
            <div class="row">
              <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-gray">
                  <div class="inner">
                    <h3>0</h3>

                    <p>All rides</p>
                  </div>
                  <div class="icon">
                    <i class="fas fa-car-side"></i>
                  </div>
                  <a href="#" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-gray">
                  <div class="inner">
                    <h3>0</h3>
                    <p>Completed rides</p>
                  </div>
                  <div class="icon">
                    <i class="fas fa-flag-checkered"></i>

                  </div>
                  <a href="#" class="small-box-footer">Manage <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-gray">
                  <div class="inner">
                    <h3>0</h3>

                    <p>Cancelled rides</p>
                  </div>
                  <div class="icon">
                    <i class="fas fa-window-close"></i>
                  </div>
                  <a href="#" class="small-box-footer">Manage <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-gray">
                  <div class="inner">
                    <h3>65</h3>

                    <p>Active rides</p>
                  </div>
                  <div class="icon">
                    <i class="fas fa-route"></i>
                  </div>
                  <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <!-- ./col -->
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- /.row (main row) -->

  </section>
  <!-- /.content -->
</div>
